<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollabCode</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- SockJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>

    <!-- STOMP -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


    <!-- Codemirror -->
    <link rel="stylesheet" href="/plugin/codemirror/lib/codemirror.css">
    <script src="/plugin/codemirror/lib/codemirror.js"></script>

    <script src="/plugin/codemirror/mode/clike/clike.js"></script>

    <script src="/plugin/codemirror/addon/selection/active-line.js"></script>
    <!-- END Codemirror -->

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase.js"></script>

    <!-- Firepad -->
    <link rel="stylesheet" href="https://firepad.io/releases/v1.5.10/firepad.css" />
    <script src="https://firepad.io/releases/v1.5.10/firepad.min.js"></script>


    <link rel="stylesheet" href="/css/session.css">
    <!-- To use thymeleaf variable -->
    <script>
        var session_id = "[[${session_id}]]";
    </script>
    <script src="/js/session.js"></script>
</head>

<body>
    <nav id="bottomBar" class="navbar fixed-bottom navbar-expand-sm navbar-light">
        <div class="text-muted font-weight-bold mr-2">Live collaborators:</div>

        <div id="all_collaborators">

        </div>

        <button th:disabled="${is_creator == null}" class="btn btn-sm btn-outline-dark ml-auto" data-toggle="modal" data-target="#add_collaborator_modal">
            <i class="fas fa-user-plus pr-1"></i>
            Add collaborator
        </button>

    </nav>
    <div class="container-fluid" style="height: calc(100% - 54px);">
        <div class="row h-100">
            <div class="col-8 h-100">
                <div class="row py-2">
                    <div class="col-7">
                        <div class="font-weight-bold text-muted" th:text="${session_name}"></div>
                    </div>
                    <div class="col-4">
                        <select th:disabled="${is_creator == null}" id="language" class="form-control form-control-sm w-75 float-right">
                            <option selected value="java">Java</option>
                            <option value="cpp">C++</option>
                            <option value="c">C</option>
                        </select>
                    </div>
                    <div class="col-1 pl-0">
                        <button id="run" class="btn btn-sm btn-success ml-auto w-100">Run</button>
                    </div>
                </div>
                <!-- CODEMIRROR EDITOR-->
                <div class="row h-100">
                    <div class="col h-100">
                        <textarea id="editor"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-4 h-100">
                <div class="row h-50">
                    <div class="col h-100">
                        <div class="row py-2 align-items-center">
                            <div class="col pl-0">
                                <div class="d-inline small pl-0">STDOUT:</div>
                            </div>
                            <div class="col">
                                <button id="clear" class="btn btn-sm btn-outline-secondary float-right">Clear</button>
                            </div>
                        </div>
                        <!-- CODEMIRROR EDITOR-->
                        <div class="row h-100">
                            <div class="col h-100 pl-0">
                                <textarea id="output"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col h-100">
                        <div class="row py-2 align-items-center">
                            <div class="col pl-0">
                                <div class="d-inline small">STDIN:</div>
                            </div>
                        </div>
                        <!-- CODEMIRROR EDITOR-->
                        <div class="row h-100">
                            <div class="col h-100 pl-0">
                                <textarea id="input"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add collaborator -->
    <div class="modal fade" id="add_collaborator_modal" tabindex="-1" role="dialog" aria-labelledby="add_collaborator_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add_collaborator_title">Add collaborator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row h-100 align-items-center">
                            <div class="col-8 offset-2">
                                <div class="form-group input-group shadow-sm">
                                    <input id="collaborator_email_address" type="email" class="form-control" placeholder="Enter new collaborator's email" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="add_collaborator" type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Invalid Email -->
    <div class="modal fade" id="invalid_email_modal" tabindex="-1" role="dialog" aria-labelledby="invalid_email_title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="invalid_email_title">Invalid email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The email address you entered is invalid or is not registered in CollabCode.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>